
/*----------BASE------------*/
h1, h2, h3, time, li {
  font-family: 'Montserrat', sans-serif;
  margin-left: 35px;
  color: #3f5364;
}
p {
  margin: 10px;
  font-family: arial;
  margin-left: 35px;
}
h1 {
  text-transform: uppercase;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 5px;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fd902d;
}
a {
  color: #3f5364;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
time {
  font-size: 14px;
}
audio {
  margin: 10px;
  margin-left: 35px;
}
.blog_video {
  margin-left: 200px;
}
.blog {
  display: inline;
}
article:nth-child(even) {
  background-color: #f6f5f5;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}
/*----------HEADER------------*/
header {
  background-color: #dddddd;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 15px;
  float: left;
}
.navlink {
  text-transform: uppercase;
  padding: 30px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}
.this_page {
  color: #fd902d;
}
/*----------HOME------------*/
.city {
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  width: 60%;
}
.front {
  width: 300px;
}
/*----------FOOTER------------*/
footer {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  font-size: 14px;
  margin-top: 50px;
  padding-bottom: 20px;
  color: #a6a6a6;
  clear: both;
  border-top: 1px solid #a6a6a6;
}
footer p {
  margin-left: 0px;
}
/*----------POSTS------------*/
.post {
  padding: 5%;
}
.top {
  float: right;
}
/*----------CONTACT------------*/
.contact_info {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact {
  margin: 10px;
}
.email {
  margin: 10px;
}
.inline {
  display: inline;
}
